
name: Run (deploy)

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      needs:
        type: string
        required: false

env:
  PROJECT_DIR: ./src/console
  tf_dir: ./function-app/infrastructure
  tf_plan_file: tfplan.binary

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Plan
        run: echo "Executing pre-plan"

  run:
    runs-on: ubuntu-latest

    environment: ${{inputs.environment}}
    steps:
        - name: Download artifacts
          uses: actions/download-artifact@v3
          with:
            name: console-app
        - name: test download
          run: ls -R
            
        - name: run
          run: ./console-app/out/console.exe

        
