
name: Run (deploy)

on:
  workflow_call:

env:
  PROJECT_DIR: ./src/console
  tf_dir: ./function-app/infrastructure
  tf_plan_file: tfplan.binary

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
        - name: Download artifacts
          uses: actions/download-artifact@v3
          with:
            name: console-app

        - name: test download
          run: ls -R
            
        - name: run
        
          run: ls -R