name: workflow

on:
  push:
    branches: [main]

env:
  SOLUTION_DIR: ./src/console

jobs:
  build-and-test:
    uses: ./.github/workflows/build.yaml
    with:
      publish-artifact: true

  terarform-plan-npe:
    uses: ./github/workflows/terraform-plan.yaml
    with:
      environment: npe
  
  deploy-npe:
    needs: 
      - build-and-test
      - terarform-plan-npe    
    uses: ./.github/workflows/run.yaml
    secrets: inherit
    with:
      environment: npe
  
  terraform-plan-prd:
    uses: ./github/workflows/terraform-plan.yaml
    with:
      environment: prd
      
  deploy-prd:
    needs:
      - deploy-npe
      - terarform-plan-npe    

    uses : ./.github/workflows/run.yaml
    secrets: inherit
    with:
      environment: prd
